@use "../../assets/styles/mixins" as mixins;
@use "../../assets/styles/variables" as vars;

.container {
    @include mixins.flex-container(row, space-between, center);
    gap: vars.$spc-10;
    width: 100%;
    padding: vars.$spc-15;
    padding-bottom: 0;

    @media (max-width: 767px) {
        @include mixins.flex-container(column, space-between, flex-start);
    }
}

.left {
    @include mixins.flex-container(row, center, center);
    gap: vars.$spc-25;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.amount {
    @include mixins.h5-font;
    color: vars.$clr-txt-primary;
    font-weight: 700;
}

.button {
    @include mixins.flex-container(row, center, center);
    background: vars.$clr-accent;
    border: none;
    padding: vars.$spc-5;
    border-radius: vars.$spc-5;
    cursor: pointer;
    transition: vars.$eff-transition;

    &:hover {
        background: vars.$clr-accent-hover;
    }

    @media (max-width: 767px) {
        align-self: center;
    }
}
