@use "../../assets/styles/_mixins.scss" as mixins;
@use "../../assets/styles/_variables.scss" as vars;

.container {
    @include mixins.flex-container(row, center, center);
    gap: vars.$spc-15;
    border-radius: vars.$spc-15;
    background: vars.$clr-bg-secondary;
    box-shadow: vars.$eff-shadow-primary;
    padding: vars.$spc-10 vars.$spc-20;
    max-height: 50px;
}

.icon {
    height: 40px;
    width: auto;
}

.balance {
    @include mixins.p-font;
    color: vars.$clr-txt-primary;
}
