@use "../../assets/styles/_mixins.scss" as mixins;
@use "../../assets/styles/_variables.scss" as vars;

.container {
    @include mixins.flex-container(row, space-between, center);
    padding: vars.$spc-25;
    width: 100%;
}

.icon {
    width: 50px;
    height: 50px;
}

.rightSideContainer {
    @include mixins.flex-container(row, center, stretch);
    gap: vars.$spc-20;
}

.breakLine {
    width: 1px;
    background: vars.$clr-txt-secondary;
}
