@use "../../assets/styles/_mixins.scss" as mixins;
@use "../../assets/styles/_variables.scss" as vars;

.container {
    @include mixins.flex-container(column, center, flex-start);
    width: 10%;
    padding: 0 vars.$spc-25;
    min-width: 152px;
}

.nav {
    width: 100%;
}

.navList {
    @include mixins.flex-container(column, center, flex-start);
    gap: vars.$spc-10;
    list-style: none;
    width: 100%;
}
