@use "../../assets/styles/_mixins.scss" as mixins;
@use "../../assets/styles/_variables.scss" as vars;

.container {
    @include mixins.flex-container(column, center, flex-start);
    width: 10%;
    padding: 0 vars.$spc-25;
    min-width: 152px;
}

.nav {
    width: 100%;
}

.navList {
    @include mixins.flex-container(column, center, flex-start);
    gap: vars.$spc-10;
    list-style: none;
    width: 100%;
}

.navItem {
    display: flex;
    height: fit-content;
    width: 100%;
}

.link {
    @include mixins.flex-container(row, flex-start, center);
    gap: vars.$spc-10;
    @include mixins.p-font;
    padding: vars.$spc-10 vars.$spc-20;

    border-radius: vars.$spc-15;
    width: 100%;
    text-decoration: none;
    color: vars.$clr-txt-secondary;
    transition: vars.$eff-transition;

    &:hover {
        background: vars.$clr-bg-secondary;
        box-shadow: vars.$eff-shadow-primary;
        color: vars.$clr-accent;
        font-weight: 600;
    }

    &:hover .icon {
        fill: vars.$clr-accent;
    }
}

.icon {
    fill: vars.$clr-txt-secondary;
    width: vars.$spc-20;
    height: vars.$spc-20;
    transition: vars.$eff-transition;
}
