@use "../../assets/styles/mixins" as mixins;
@use "../../assets/styles/variables" as vars;

.container {
    @include mixins.p-font;
    color: vars.$clr-txt-primary;
    background: none;
    border: none;
    padding: vars.$spc-10;
    border-radius: vars.$spc-15;
    width: 100%;
    text-align: start;
    cursor: pointer;
    transition: vars.$eff-transition;

    &:hover {
        color: vars.$clr-accent;
        box-shadow: vars.$eff-shadow-primary;
    }
}
