@mixin flex-container($direction, $justify, $algin) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $algin;
}

@mixin h1-font {
    font-size: 4.05rem;
    line-height: normal;
    letter-spacing: 0.081rem;
    font-family: "Roboto", sans-serif;
}

@mixin h5-font {
    font-size: 1.25rem;
    line-height: normal;
    letter-spacing: 0.069rem;
    font-family: "Outfit", sans-serif;
}

@mixin p-font {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0.063rem;
    font-family: "Outfit", sans-serif;
}

@mixin sm-font {
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0.063rem;
    font-family: "Outfit", sans-serif;
}

@mixin sm-font {
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 0.063rem;
    font-family: "Outfit", sans-serif;
}

@mixin ssm-font {
    font-size: 0.75rem;
    line-height: normal;
    letter-spacing: 0.063rem;
    font-family: "Outfit", sans-serif;
}

@mixin blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}
