/* colors */

$clr-bg-primary: #f7f7f9;
$clr-bg-secondary: #ffffff;
$clr-accent: #3e54ce;
$clr-txt-primary: #323139;
$clr-txt-secondary: #94949c;
$clr-link-hover: #3498db;

/* effects */

$eff-shadow-primary: 0 0 5px #d7d6db;
$eff-transition: all 0.3s ease;
