/* colors */

$clr-bg-primary: #f7f7f9;
$clr-bg-secondary: #ffffff;
$clr-bg-accent: #f5f4f9;
$clr-accent: #3e54ce;
$clr-txt-primary: #323139;
$clr-txt-secondary: #94949c;
$clr-txt-accent: #8c929e;
$clr-link-hover: #3498db;

/* effects */

$eff-shadow-primary: 0 0 5px #d7d6db;
$eff-transition: all 0.3s ease;

/* spacing */

$spc-10: 10px;
$spc-15: 15px;
$spc-20: 20px;
$spc-25: 25px;
