@use "./variables" as vars;
@use "./mixins" as mixins;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    background-color: vars.$clr-bg-primary;
}

main {
    @include mixins.flex-container(row, flex-start, flex-start);
    width: 100%;
    padding: vars.$spc-25 0;
}

a.active {
    background: vars.$clr-bg-secondary;
    box-shadow: vars.$eff-shadow-primary;
    color: vars.$clr-accent;
    font-weight: 600;

    & .navIcon {
        fill: vars.$clr-accent;
    }
}

.react-select__control {
    @include mixins.sm-font;
    border-color: vars.$clr-txt-primary !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background: none !important;
    border-radius: 0 !important;
    width: 100% !important;
    &:hover,
    &:focus {
        outline: none !important;
        border-color: vars.$clr-txt-secondary !important;
        box-shadow: none !important;
    }
}

/* This class wouldn't exist */

.placeholderClass {
    @include mixins.flex-container(row, center, center);
    @include mixins.h1-font;
}
